@import url(reset.css);
@import url(mobile.css);
@import url(tablet.css);
@import url(destop.css);
@import url(tv.css);

body {
    background-color: var(--fundo-claro);
    }
    .conteudo {
        font-family:Georgia, 'Times New Roman', Times, serif;
        padding: 10px 20px;
        color: black;
    }

    #img1 {
        width: 350px;
        height: 200px;
    }
    #logo {
        width: 100px;
        height: 100px;
    }
    .rodape {
        background-color: rgb(152, 152, 170);
        text-align-last: center;
    }
    .home{
        background-color: var(--fundo-claro) ;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    
    .page1 {
        background-color: var(--fundo-claro);
        font-family:Georgia, 'Times New Roman', Times, serif;
    }
    .page2 {
        background-color:  var(--fundo-claro);
        font-family:Georgia, 'Times New Roman', Times, serif;
    }
    .page3 {
        background-color: var(--fundo-claro);
        font-family:Georgia, 'Times New Roman', Times, serif;
    }
    *{
        margin: 0;
        padding: 0;
    }
    
    .calc {
        background: rgb(78, 132, 168);
        color: aliceblue;
        width: 200px;
        padding: 30px;
        border-radius: 10px;
        text-align: center;
        text-align-last: center;
    }
    .calc input {
        background: rgb(16, 28, 95);
        color:rgb(243, 243, 253);
        border-radius: 5px;
        padding: 5px;
    }
    #spTotal {
        background: rgb(0, 0, 0);
        color: rgb(106, 201, 245);
        border-radius: 10px;
        padding: 15px;
        margin-bottom: 10px;
    }
    .calc button {
        background: rgb(16, 28, 95);
        color: rgb(243, 243, 253);
        border-radius: 10px;
        padding: 5px;
        margin-top: 10px;
    }
    .calc button:hover {
        background: rgb(2, 16, 36);
        color: rgb(231, 226, 236);
        cursor: pointer;
    }
    .table {
        border-collapse: separate;
        width: 100%;
        border: 2px solid black;
        border-spacing: 10;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .th, td {
        border: 1px solid black;
        padding: 10px;
        text-align: left;
    }

    .th {
        background-color: #f2f2f2;
    }

    .editable {
        cursor: pointer;
    }

    .editable input {
        border: none;
        width: 100%;
        background-color: transparent;
    }
